@import "../styles/abstracts/variables";
.nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
}

.aside {
  width: 0;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  height: 100vh;
  transition: all 0.5s;
  overflow-x: hidden;
  visibility: hidden;

  display: flex;
  justify-content: center;
  padding-top: 250px;
  color: $primary;
  border-left: 1px solid $primary;

  li {
    padding-bottom: 30px;
  }
}

.active {
  width: 250px;
  transition: all 0.5s;
  overflow-x: hidden;
  visibility: visible;
}
