@import "../styles/abstracts/variables";

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  text-align: left;

  .heroDetails {
    margin-top: 50px;
    font-weight: 500;
    max-width: 385px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .heroImg {
    margin-top: 125px;
    width: 100%;
  }

  .introText {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
  }

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    color: $primary;
    margin-bottom: 24px;
  }

  .lead {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }

  .leadEmphasis {
    color: $primary;

    font-size: 1.1rem;
  }

  .buttonA {
    margin-right: 16px;
  }
}
