@import "../styles//abstracts/mixins";
.hero {
  // min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;

  .heroDetails {
    margin-top: 50px;
    font-weight: 500;
    max-width: 385px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .heroImg {
    width: 100%;
    max-width: 500px;
  }

  .introText {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
  }

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 24px;
  }

  .lead {
    margin-bottom: 30px;
  }

  .leadEmphasis {
    color: var(--primary);
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: row;
    }
  }

  .buttonA {
    margin-bottom: 16px;
    @include mobile {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
}
