@import "../styles//abstracts/mixins";
.hero {
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include tallScreen {
    padding-bottom: 100px;
  }

  .heroDetails {
    // margin-top: 50px;
    font-weight: 500;
    // max-width: 385px;
    // max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      text-align: left;
    }
  }

  .heroImg {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .introText {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
  }

  .title {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 12px;

    @include tablet {
      font-size: 4rem;
    }

    @include large {
      font-size: 5.5rem;
    }
  }

  .lead {
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .leadEmphasis {
    color: var(--primary);
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: row;
      justify-content: space-evenly;
    }

    @include tablet {
      justify-content: start;
    }
  }

  .buttonA {
    margin-bottom: 16px;
    @include mobile {
      margin-bottom: 0;
    }

    @include tablet {
      margin-right: 64px;
    }
  }
}
