@import "../styles/abstracts/mixins";

.projectCard {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  .image {
    width: 100%;
    max-width: 500px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: row;
    }
  }

  .buttonA {
    margin-bottom: 16px;
    @include mobile {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
}
