@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  //Define colours
  --teal: #319795;
  --black: #333;
  --white: #fff;
  --off-white: #f8f8f8;
  --dark-blue: #1a202c;

  //Define colour intentions
  --background: var(--off-white);
  --background-dark: var(--dark-blue);
  --text: var(--black);
  --text-dark: var(--white);
  --primary: var(--teal);
}
html,
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  color: var(--text);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  transition: right 0.5s;
  right: 0;
  overflow-x: hidden;
}

p {
  line-height: 1.6;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.active {
  right: 250px;
  transition: right 0.5s;
  overflow-x: hidden;
  filter: blur(4px);
}

.stop-scroll {
  overflow-y: hidden;
  // position: relative;
}

.container {
  padding: 0 25px;
}

.light {
  --text: var(--text);
  --background: var(--background);
  transition: ALL 0.2s ease-in;
}

.dark {
  --text: var(--text-dark);
  --background: var(--background-dark);
  transition: ALL 0.2s ease-in;
}

//scrollbar
// html {
//   -webkit-scrollbar-width: thin;
//   -moz-scrollbar-width: thin;
//   -ms-scrollbar-width: thin;
//   scrollbar-width: thin;
//   -webkit-scrollbar-color: #f8f8f8 $primary;
//   -moz-scrollbar-color: #f8f8f8 $primary;
//   -ms-scrollbar-color: #f8f8f8 $primary;
//   scrollbar-color: #f8f8f8 $primary;
// }

/*!sc*/
body::-webkit-scrollbar {
  width: 4px;
}

/*!sc*/
body::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*!sc*/
body::-webkit-scrollbar-thumb {
  background-color: red;
  border: 4px solid var(--primary);
  border-radius: 16px;
}
